resolvedCaseURL: {{ resolvedCaseURL }}
ignoredAlertURL: {{ ignoredAlertURL }}
importedAlertURL: {{ importedAlertURL }}
newCaseURL: {{ newCaseURL }}
newAlertURL: {{ newAlertURL }}
organization: {{ organization }}
logLevel: {{ thehivesentinelhooks_logLevel }}