[TheHive]
apiKey = {{ thehive_api_key }}
server  = http://localhost:9000

[Azure]
tenantId = {{ sentinel_tenantId }}
subscriptionId = {{ sentinel_subscriptionId }}
clientId = {{ sentinel_clientId }}
clientSecret = {{ sentinel_clientSecret }}
resourceGroupName = {{ sentinel_resourceGroupName }}
workspaceName = {{ sentinel_workspaceName }}
workspaceId = {{ sentinel_workspaceId }}